absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
async-timeout
attrs
beartype
better-abc
certifi
charset-normalizer
circuitsvis
click
contourpy
cycler
datasets
dill
docker-pycreds
dotenv
einops
fancy-einsum
filelock
fonttools
frozenlist
fsspec
gitdb
GitPython
huggingface-hub
idna
importlib_metadata
jaxtyping
Jinja2
joblib
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
multidict
multiprocess
networkx
nltk
numpy
packaging
pandas
pillow
platformdirs
propcache
protobuf
psutil
pyarrow
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
rich
rouge-score
safetensors
sentencepiece
sentry-sdk
setproctitle
six
smmap
sympy
tokenizers
torch
tqdm
transformer-lens
transformers
typeguard
typing-inspection
typing_extensions
tzdata
urllib3
wadler_lindig
wandb
xxhash
yarl
zipp

